<div class="modal fade bd-example-modal-lg show" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-modal="true" style="display: block;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Nuevo personal del centor del control</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                    (click)="closeModal($event)">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form id="modificaDuctoForm"
            autocomplete="off"
            [formGroup]="personalCCForm"
            (ngSubmit)="nuevoPersonalCC()">>
                <div class="modal-body">
                    <div class="position-relative form-group">
                        <label for="exampleEmail" class="">Nombre del personal del centro de control</label>
                        <input formControlName="nombre" name="nombre" id="nombre"  type="text"
                            class="form-control">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"
                        (click)="closeModal($event)">cerrar ventana</button>
                        <button type="submit" class="btn btn-primary" >GUARDAR</button>
                </div>
            </form>
        </div>
    </div>
</div>